:root{
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

*{
    margin: 0;
    padding: 0;
}

.nav-item:hover{
    color: var(--soft-red);
}

#title{
    font-weight: bold;
    color: var(--very-dark-blue);
}

#centralNew{
    display: grid;
}

#centralText{
    display: grid;
    color: var(--dark-grayish-blue);
}

#btn-more{
    border: none;
    font-weight: bold;
    color: var(--off-white);
    background-color: var(--soft-red);
}

#btn-more:hover{
    background-color: var(--very-dark-blue);
}

.column-right{
    width: 80%;
    background-color: var(--very-dark-blue);
}

#title-right{
    margin: 0;
    font-weight: bold;
    color: var(--soft-orange);
}

.subtitle-right{
    margin: 0;
    color: var(--off-white);
}

.subtitle-right:hover{
    color: var(--soft-orange);
}

.new-right{
    color: var(--off-white);
}

hr{
    border-color: var(--grayish-blue);
}

.container-below{
    display: grid;
    /*grid-template-columns: repeat(3,1fr);*/
}

.new-below{
    display: grid;
    grid-template-columns: 25% 60%;
}

.img-new-below{
    width: 100%;
    height: 87%;
}

.text-new-below{
    padding-left: 15px;
    display: grid;
    grid-template-rows: 3;
}

.number-new-below{
    color: var(--grayish-blue);   
}

.title-new-below{
    font-weight: bold;
    color: var(--very-dark-blue);
}

.paragraph-new-below{
    color: var(--dark-grayish-blue);
}

/*El navbar de Bootstrap es modo acordeon hasta 991px, en 992px ya es para pc*/

@media (min-width: 320px) and (max-width: 480px){
    p{
        font-size: medium;
    }

    nav{
        height: 70px;
    }

    .nav-item{
        font-size: small;
        padding: 9px;
    }

    .containerAbove{
        padding: 0 20px;
        width: 100%;
        display: grid;
        grid-template-columns: 1;
    }

    #title{
        font-size: 35px;
    }

    #centralNew{
        grid-template-rows: 1;  
        gap: 5px;
    }

    #portada{
        width: 100%;
        height: 100%;
    }

    #centralText{
        grid-template-columns: 1;
    }

    #btn-more{
        padding: 10px 20px;
        margin-bottom: 50px;
        font-size: small;
        letter-spacing: 0.1em;
    }

    .column-right{    
        padding: 20px;
        width: 100%;
    }

    #title-right{
        padding-bottom: 15px;
        font-size: x-large;
    }

    .subtitle-right{
        padding-bottom: 7px;
        font-size: large;
    }

    .container-below{
        padding: 25px 20px 15px 20px;
        grid-template-columns: repeat(1,1fr);
    }

    .title-new-below{
        font-size: large;
    }

    .paragraph-new-below{
        font-size: small;
    }
}

@media (min-width:481px) and (max-width:768px){
    p{
        font-size: medium;
    }

    nav{
        height: 80px;
    }

    .containerAbove{
        padding: 0 20px;
        width: 100%;
    }
    
    #title{
        font-size: 40px;
    }

    #portada{
        width: 100%;
        height: 100%;
    }

    #btn-more{
        padding: 12px 23px;
        margin-bottom: 50px;
    }

    .column-right{    
        padding: 20px;
        width: 100%;
    }

    #title-right{
        padding-bottom: 15px;
    }

    .subtitle-right{
        padding-bottom: 10px;
    }

    .container-below{
        padding: 27px 20px 17px 20px;
    }  
}

@media (min-width:769px) and (max-width:991px){
    p{
        font-size: large;
    }

    nav{
        height: 90px;
    }

    .containerAbove{
        padding: 0 20px;
        width: 100%;
    }

    #title{
        font-size: 45px;
    }
    
    #portada{
        width: 100%;
        height: 100%;
    }

    #btn-more{
        padding: 12px 23px;
        margin-bottom: 60px;
    }

    .column-right{    
        padding: 23px;
        width: 100%;
    }

    #title-right{
        padding-bottom: 25px;
    }

    .subtitle-right{
        font-size: x-large;
        padding-bottom: 15px;
    }

    .container-below{
        padding: 27px 23px 17px 23px;
    }  

    .title-new-below{
        font-size: x-large;
    }

    .paragraph-new-below{
        font-size: large;
    }
}

@media (min-width:992px) and (max-width:1200px){
    p{
        font-size: medium;
    }
    
    nav{
        height: 100px;
    }

    .nav-item{
        font-size: large;
        padding: 15px;
    }

    .containerAbove{
        padding: 0 20px;
        width: 100%;
        display: grid;
        grid-template-columns: 65% 35%;
    }

    #title{
        font-size: 45px;
    }

    #portada{
        width: 90%;
        height: 45vh;
    }

    #centralText{
        margin: 10px;
        grid-template-columns: 45% 45%;
    }

    #btn-more{
        padding: 8px 17px;
        font-size: medium;
        letter-spacing: 0.15em;
    }

    .column-right{    
        padding: 23px;
        width: 100%;
    }

    #title-right{
        padding-bottom: 25px;
        font-size: xx-large;
    }

    .subtitle-right{
        font-size: large;
    }

    .container-below{
        padding: 45px 0 35px 0;
        grid-template-columns: repeat(3,1fr);
    }

    .title-new-below{
        font-size: large;
    }

    .paragraph-new-below{
        font-size: medium;
    }
}

@media (min-width:1201px){
    p{
        font-size:  medium;
    }
    
    nav{
        height: 100px;
    }

    .nav-item{
        font-size: large;
        padding: 15px;
    }

    .containerAbove{
        display: grid;
        grid-template-columns: 65% 35%;
    }

    #title{
        font-size: 50px;
    }

    #portada{
        width: 90%;
        height: 45vh;
    }

    #centralText{
        grid-template-columns: 45% 45%;
    }

    #btn-more{
        padding: 10px 20px;
        font-size: medium;
        letter-spacing: 0.2em;
    }

    .column-right{    
        padding: 23px;
        width: 100%;
    }

    #title-right{
        padding-bottom: 30px;
        font-size: xx-large;
    }

    .subtitle-right{
        padding-bottom: 15px;
        font-size: large;
    }

    .container-below{
        padding: 50px 0 30px 0;
        grid-template-columns: repeat(3,1fr);
    }

    .title-new-below{
        font-size: large;
    }
}